snippet item
    ${1:item_name} = Item(name="${2:item_text}", stack_size=${3:stack_size}, rocket_capacity=${4:rocket_capacity})

snippet recipe
	${1:item_name}Recipe = Recipe(requirements={${2:requirements}})
